<toast-messages/>
<app-confirmation-modal
        [(visible)]="displayConfirmation"
        [message]="messageConfirm"
        (onConfirm)="ngDeleteData()">
</app-confirmation-modal>

<div class="max-h-[calc(100dvh-8rem)] overflow-y-auto">
    <p-panel [toggleable]="true" [(collapsed)]="toggleSearchForm">
        <p-fluid [formGroup]="searchForm">
            <div class="flex flex-col gap-4 w-full">
                <div class="flex justify-between">
                    <div class="font-semibold text-xl">{{ recordType?.label || 'Loading...' }}</div>
                    <div class="flex gap-2">
                        <p-button label="Reload" [loading]="loading" severity="warn" (onClick)="ngReload()" [fluid]="false" outlined />
                        <p-button label="Create" [loading]="loading" [fluid]="false"></p-button>
                    </div>
                </div>

                <div class="mx-5 flex flex-col gap-5 max-h-[calc(40dvh-10rem)] overflow-y-auto">
                    @for (field of recordTypeFilterField; track field.id!) {
                        <div class="grid grid-cols-12">
                            <label class="flex items-center col-span-12 mb-2 md:col-span-3 md:mb-0">{{field.label || field.name}}</label>
                            <div class="col-span-12 md:col-span-4">
                                <app-dynamic-input
                                        [field]="field"
                                        [appProperties]="appProperties"
                                        [formControlName]="field.name!">
                                </app-dynamic-input>
                            </div>
                        </div>
                    }
                </div>

                <div class="flex justify-start">
                    <p-button label="Search" [loading]="loading" (onClick)="ngSearch()" [disabled]="searchForm.invalid" [fluid]="false"></p-button>
                </div>
            </div>
        </p-fluid>
    </p-panel>
    <p-fluid>
        <div class="card mt-4" *ngIf="resultItemList.length > 0">
            <p-table
                    [value]="resultItemList"
                    [paginator]="true"
                    [rows]="15"
                    [loading]="loading"
                    responsiveLayout="scroll"
                    styleClass="p-datatable-striped p-datatable-sm w-100"
                    [tableStyle]="{'min-width': '130rem', 'table-layout': 'fixed'}">

                <ng-template pTemplate="header">
                    <tr>
                        <th class="w-32 text-center">No.</th>
                        @for (field of recordTypeDisplayField; track field.id!) {
                            <th class="w-[160px] min-w-[160px] px-4 py-2 text-left overflow-hidden truncate"
                                [pTooltip]="field.label || field.name"
                                tooltipPosition="top">
                                {{ field.label || field.name }}
                            </th>
                        }
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td>
                            <div class="flex gap-2 items-center justify-center">
                                <span class="min-w-4 font-medium">{{ i + 1 }}</span>
                                <div class="flex border-l pl-2 ml-2" *ngIf="['SS', 'F'].includes(recordType?.entityType!)">
                                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="ngEditData(item)"></p-button>
                                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="warn" (click)="ngConfirmDelete(item)"></p-button>
                                </div>
                            </div>
                        </td>

                        @for (field of recordTypeDisplayField; track field.id!) {
                            @let displayValue = field.getDisplayValue(item);
                            <td class="min-w-[150px] px-4 py-2">
                                <div class="truncate w-full"
                                     [pTooltip]="displayValue"
                                     tooltipPosition="top">
                                    {{ displayValue }}
                                </div>
                            </td>
                        }
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="recordTypeDisplayField.length + 1" class="text-center p-8">
                            No data found.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-fluid>
</div>



