<div class="w-full">
    @if (!loading && isReady && listFormDisplay.length > 0) {
        <form [formGroup]="tableForm">
            <div formArrayName="records">
                <p-table #dt [value]="recordsForm.controls" dataKey="tmpts">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="w-12 text-center">#</th>
                            <th class="w-16 text-center">
                                <p-button icon="pi pi-plus" [rounded]="true" [text]="true" severity="success" />
                            </th>
                            @for (field of listFormDisplay; track field.name) {
                                <th>{{ field.label || field.name }}</th>
                            }
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowControl let-index="rowIndex">
                        <tr [formGroupName]="index" class="tw-edit-table-row">
                            <td class="text-center">{{ index + 1 }}</td>
                            <td class="text-center">
                                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true" />
                            </td>

                            @for (field of listFormDisplay; track field.name) {
                                <td class="min-w-[150px] px-4 py-2" [pEditableColumn]="rowControl.get(field.name!)" [pEditableColumnField]="field.name!">
                                    <p-cellEditor>
                                        <ng-template pTemplate="output">
                                            <span class="cursor-pointer block w-full min-h-[1.5rem]">
                                                {{ field.getDisplayValueFormControl(rowControl) }}
                                            </span>
                                        </ng-template>

                                        <ng-template pTemplate="input">
                                            <div class="flex items-center gap-1">
                                                @switch (field.dataType!) {
                                                    @case ('CHECKBOX') {
                                                        <p-checkbox [formControlName]="field.name!"
                                                                    (onChange)="dt.editingCell = null"
                                                                    [binary]="true"></p-checkbox>
                                                    }
                                                    @case ('MULTISELECT') {
                                                        <p-multiSelect [formControlName]="field.name!"
                                                                       [options]="field.optionsSelect"
                                                                       [appendTo]="'body'"
                                                                       (onPanelHide)="dt.editingCell = null"
                                                                       placeholder="Select..."></p-multiSelect>
                                                    }
                                                    @case ('DATE') {
                                                        <p-datepicker
                                                                [formControlName]="field.name!"
                                                                [showTime]="false"
                                                                [showIcon]="true"
                                                                [iconDisplay]="'input'"
                                                                [dateFormat]="appProperties.inputDateFormat"
                                                                hourFormat="24"
                                                                [showButtonBar]="true"
                                                                (onSelect)="dt.editingCell = null"
                                                                (onClose)="dt.editingCell = null"
                                                                appendTo="body">
                                                        </p-datepicker>
                                                    }
                                                    @case ('DATETIME') {
                                                        <p-datepicker [formControlName]="field.name!"
                                                                      [showTime]="true"
                                                                      hourFormat="24"
                                                                      [appendTo]="'body'">
                                                        </p-datepicker>
                                                    }
                                                    @case ('TIMESTAMP') {
                                                        <p-datepicker [formControlName]="field.name!"
                                                                      [showTime]="true"
                                                                      hourFormat="24"
                                                                      [appendTo]="'body'">
                                                        </p-datepicker>
                                                    }
                                                    @case ('TIME') {
                                                        <p-datepicker [formControlName]="field.name!"
                                                                      [showTime]="true"
                                                                      [timeOnly]="true"
                                                                      hourFormat="24"
                                                                      [appendTo]="'body'">
                                                        </p-datepicker>
                                                    }
                                                    @case ('YEAR') {
                                                        <p-datepicker [formControlName]="field.name!"
                                                                      view="year"
                                                                      dateFormat="yy"
                                                                      [appendTo]="'body'">
                                                        </p-datepicker>
                                                    }
                                                    @case ('YEARMONTH') {
                                                        <p-datepicker [formControlName]="field.name!"
                                                                      view="month"
                                                                      dateFormat="mm/yy"
                                                                      [appendTo]="'body'">
                                                        </p-datepicker>
                                                    }
                                                    @case ('INTEGER') {
                                                        <p-inputNumber [formControlName]="field.name!"
                                                                       [useGrouping]="false"
                                                                       (onKeyDown)="$event.key === 'Enter' ? dt.editingCell = null : null"></p-inputNumber>
                                                    }
                                                    @case ('LONG') {
                                                        <p-inputNumber [formControlName]="field.name!"
                                                                       [useGrouping]="false"
                                                                       (onKeyDown)="$event.key === 'Enter' ? dt.editingCell = null : null"></p-inputNumber>
                                                    }
                                                    @case ('DECIMAL') {
                                                        <p-inputNumber [formControlName]="field.name!"
                                                                       [useGrouping]="true"
                                                                       (onKeyDown)="$event.key === 'Enter' ? dt.editingCell = null : null"></p-inputNumber>
                                                    }
                                                    @case ('COLNO') {
                                                        <p-inputNumber [formControlName]="field.name!"
                                                                       [useGrouping]="false"
                                                                       (onKeyDown)="$event.key === 'Enter' ? dt.editingCell = null : null"></p-inputNumber>
                                                    }
                                                    @case ('TEXTAREA') {
                                                        <textarea pInputTextarea [formControlName]="field.name!" [name]="field.name!"
                                                                  [rows]="5"
                                                                  (keydown.enter)="handleTextareaEnter($event, dt)"
                                                                  class="w-full"></textarea>
                                                    }
                                                    @case ('RICHTEXT') {
                                                        <textarea pInputTextarea [formControlName]="field.name!" [name]="field.name!"
                                                                  [rows]="5"
                                                                  (keydown.enter)="handleTextareaEnter($event, dt)"
                                                                  class="w-full"></textarea>
                                                    }
                                                    @case ('SECRET') {
                                                        <p-password [formControlName]="field.name!"
                                                                    [feedback]="false"
                                                                    (keydown.enter)="dt.editingCell = null"
                                                                    [toggleMask]="true"></p-password>
                                                    }
                                                    @default {
                                                        @if ('RECORD' === (field.dataType) && field.relateRecordTypeName) {
                                                            <app-lookup-autocomplete
                                                                    [isValidateFailed]="isValidateFailed"
                                                                    [clazzName]="field.relateRecordTypeName"
                                                                    (onSelect)="dt.editingCell = null"
                                                                    [formControlName]="field.name!"/>
                                                        }
                                                        @else if (['SELECT', 'SELECTINT'].includes(field.dataType!)) {
                                                            <!--<p-dropdown
                                                                    [formControlName]="field.name!"
                                                                    [options]="field.optionsSelect"
                                                                    optionLabel="label"
                                                                    optionValue="value"
                                                                    placeholder="Select..."
                                                                    [showClear]="true"
                                                                    [appendTo]="'body'"
                                                                    (onChange)="dt.editingCell = null"
                                                                    styleClass="w-full">
                                                            </p-dropdown>-->
                                                            <p-select
                                                                    [formControlName]="field.name!"
                                                                    [options]="field.optionsSelect"
                                                                    optionLabel="label"
                                                                    optionValue="value"
                                                                    placeholder="Select..."
                                                                    [showClear]="true"
                                                                    [appendTo]="'body'"
                                                                    (onChange)="dt.editingCell = null"
                                                                    styleClass="w-full">
                                                            </p-select>
                                                        } @else {
                                                            <input class="form-control"
                                                                   [formControlName]="field.name!"
                                                                   pInputText
                                                                   (keydown.enter)="dt.editingCell = null"
                                                                   [type]="field.dataType === 'EMAIL' ? 'email' : 'text'"/>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            }
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </form>
    } @else {
    }
</div>