<toast-messages/>
<app-confirmation-modal
        [(visible)]="displayConfirmation"
        [message]="messageConfirm"
        (onConfirm)="ngDeleteData()">
</app-confirmation-modal>
<p-fluid [formGroup]="searchForm">
    <div class="card flex flex-col gap-4">
        <div class="flex justify-between">
            <div class="font-semibold text-xl">Search</div>
            <p-button label="Create Document" (onClick)="onCreate()" [fluid]="false"></p-button>
        </div>

        <div class="grid grid-cols-12 ml-10">
            <label class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Status</label>
            <div class="col-span-12 md:col-span-4">
                <app-document-status-filter formControlName="documentStatus"/>
            </div>
        </div>

        <div class="grid grid-cols-12 ml-10">
            <label class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Employee</label>
            <div class="col-span-12 md:col-span-4">
                <app-lookup-autocomplete [isValidateFailed]="isValidateFailed" [clazzName]="'Employee'" formControlName="emId"/>
            </div>
        </div>

        <div class="grid grid-cols-12 ml-10">
            <label class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0">AM_Employee_Active</label>
            <div class="col-span-12 md:col-span-4">
                <app-lookup-autocomplete [isValidateFailed]="isValidateFailed" [clazzName]="'AM_Employee_Active'"/>
            </div>
        </div>

        <div class="grid grid-cols-12 ml-10">
            <label class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0">DateTill</label>
            <div class="col-span-12 md:col-span-4">
                <div class="flex align-items-center gap-3">
                    <app-month-year-filter type="month" formControlName="month"/>
                    <app-month-year-filter type="year" formControlName="year"/>
                </div>
            </div>
        </div>

        <div class="flex justify-start mt-10">
            <p-button label="Search" [loading]="loading" (onClick)="onSearch()" [disabled]="searchForm.invalid" [fluid]="false"></p-button>
        </div>
    </div>

    <div class="card mt-4" *ngIf="documentList.length > 0">
        <p-table
                [value]="documentList"
                [paginator]="true"
                [rows]="10"
                [loading]="loading"
                responsiveLayout="scroll"
                styleClass="p-datatable-striped">

            <ng-template pTemplate="header">
                <tr>
                    <th>No.</th>
                    <th>Document No</th>
                    <th>Employee Code</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                <tr>
                    <td>
                        <div class="flex gap-8 items-center">
                            <span>{{ i + 1 }}</span>
                            <div>
                                <p-button icon="pi pi-pencil rounded" text severity="info" (click)="ngSearchItemById(doc.id)"></p-button>
                                <p-button icon="pi pi-trash rounded" text severity="warn" (click)="ngDelete(doc)"></p-button>
                            </div>
                        </div>
                    </td>
                    <td>{{ doc.documentNo }}</td>
                    <td>{{ doc.emId.code }}</td>
                    <td>{{ doc.emId.name }}</td>
                    <td>{{ doc.dateWork | date: appProperties.dateFormat }}</td>
                    <td>
                        <span [class]="'status-badge status-' + doc.documentStatusSeverity">
                            {{ doc.documentStatusLabel }}
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center">No documents found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-fluid>
